
body{
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #9b9b9b;
    font-family: sans-serif;
}
main section{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

nav{
    background-color: rgb(34, 31, 31);
    color: white;
}
nav h1{
    padding-left: 10px;
}
nav img{
    filter: invert(100%);
}
header{
    background-color:#4a4a4a;
    color: white;
}
form>input,button,fieldset{
    border: white 2px solid;

}
form>input{
    background-color: white;
}
fieldset{
background-color: #d8d8dd;
}
button{
    background-color: black;
    color: white;
}

div{
    background-color: #d8d8dd;
}

a{
    border: 1px dashed rgb(94, 90, 90);
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
}
h4{
    margin-bottom: 20px;
}
